::-webkit-scrollbar {
    width: 4px;
    /*Anchodelabarradedesplazamiento*/background-color: #000000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #999595; /* Color de la barra de desplazamiento */
    border-radius: 6px; /* Bordes redondeados de la barra de desplazamiento */
  }